* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-style: 700;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]:invalid {
    background-color: rgb(255, 180, 180);
}
.errorInput {
    display: none;
}
input[type=number]:invalid ~.errorInput{
    display: block;
    color: red;
    margin-top: 10px;
}
/*------------------------ HEADER ---------------------------*/
header {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
}
.header-top {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #00818e;
    width: 100%;
}
#header.collapsed{
   display: none;
}
#header{
    background-color:white;
    text-decoration: black;
    display: flex;
    right: 0;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
    overflow: auto;
    border: 1px solid black;
    transition: height .50s;
}
.ofertas {
    padding: 7px;
    text-decoration: black;
    margin: 12px;
    background-color: #F8904E;
    border-radius: 7px;
    transition: all 1s;
}
.ofertas:hover {
    color: white;
    background-color: #00818e ;
}
.ofertas:hover a {
    color: white;
}
#logo {
    width: 17%;
    margin-right: 10vw;
}
#cart {
    position: relative;
}
.fa-shopping-cart {
    font-size: 8vw;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.fa-user-alt {
    font-size: 8vw;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#cart span {
    font-size: 4vw;
    position: absolute;
    top: -15px;
    right: -7px;
    min-width: 5vw;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    border: 1.5px black solid;
    padding: 2px;
}
.fa-bars {
    font-size: 10vw;
    color: white;
}
#buscar {
    width: 80%;
    display: flex;
    margin-top: 10px;
    position: relative;
}
#buscar input {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    outline: none;
    padding-left: 10px;
}
.search-btn {
    background-color: white;
    padding: 3px;
    position: absolute;
    right: 5px;
    margin-top: 7px;
    text-align: center;
    border: none;
   
}
.search-btn:hover{
    cursor: pointer;
}
#account ul {
   z-index: 4;
}
#account ul li {
    position: relative;
    float: left;
    white-space:nowrap;
}
#account ul ul li {
    width: 100%;
}
#account ul ul li:hover {
    border-radius: 10px;
    background-color: #F8904E;
    margin: auto;
    width: 100%;
}
#account ul a {
    display:block;
    color:black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    letter-spacing:1px;
   }
#account ul ul {
    transform: scale(0);
    transform-origin: top;
    position:absolute;
    top:150%;
    left:-50%;
    background:white;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.3s;
    opacity: 0;
 }
 #account ul:hover ul {
    transform: scale(1);
    opacity: 1;
}
 #menu ul ul li {
    float:none;
    width:400px
   }
   .header-bottom{
       display: none;
   }


/*------------------------ FIN HEADER ---------------------------*/

/*------------------------  MAIN ---------------------------*/
main {
    background-color: rgb(241, 241, 241);
    margin-top: calc(15% + 74px);
}
.productos-destacados {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.productos-destacados .titulo{
    text-align: center;
    margin: 10px auto;
    z-index: 1;    
}
.productos-destacados .titulo span{
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 4vw;
}
hr {
    width: 100%;
    height: 3px;
    background-color: gray;
    position: absolute;
    top: 1%;
    z-index: 0;
}
.producto-individual {
    position: relative;
    margin-top: 15px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.oferta {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 10px;
}
/* css triángulo */
.texto-triangulo {
    fill: white;
    font-size:20px;
    font-family:arial;
    letter-spacing:-1px;

  }
  .texto-descuento {
    fill: white;
    font-size:14px;
    font-family:arial;

  }
/* fondo */
  .triangulo {
    fill:#ff0000;
    opacity:0.9;
  }
/* css oferta */
/* triángulo */
  .oferta-color {
    fill:#7ab800;
    opacity:0.9;

  }
/* texto */
  .texto-oferta-color {
    fill: white;
    font-size:14px;
    font-family:arial;
  }
.producto-individual img {
    padding: 15px;
    border-bottom: 1.7px solid #00818e;
} 
.producto-individual:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.detalles-producto {
    padding: 10px 15px;
    width: 100%;
}
.precio {
    color: #F8904E;
    text-align: center;
    font-weight: 900;
    font-size: 5vw;
    margin-top: 10px;
}
.precio-descuento {
    position: relative;
}
.precio-descuento:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-color: black;
    
  
    -webkit-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
    -ms-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    transform:rotate(-6deg);
  }
.descripcion {
    color: #666;
}
.detalles-cantidad{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.detalles-cantidad .mas,
.detalles-cantidad .menos {
    border: 2px solid #F8904E;
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    font-size: 7vw;
    transition: background-color 1.5s ;
    outline: none;
}
.detalles-cantidad .mas:active,
.detalles-cantidad .menos:active {
    background-color: #00818e;
}
.detalles-cantidad .mas{
    border-radius: 0 .4rem .4rem 0;
}
.detalles-cantidad .menos{
    border-radius: .4rem 0 0 .4rem;
}
.detalles-cantidad input{
    border-top: 2px solid #F8904E;
    border-bottom: 2px solid #F8904E;
    border-left: none;
    border-right: none;
    width: 12vw;
    height: 10vw;
    text-align: center;
    outline: none;
}
.btn {
   margin-left: auto;
   padding: 5px;
   width: 45%;
   background-color: #00818e;
   color: white;
   border: none;
   border-radius: .4rem;
   font-weight: bold;
   font-size: 3.5vw;
   transition: background-color 1.5s ;

}
.btn:hover {
  background-color: #005661;    
 }
 .pago-envio {
     margin-top: 20px;
     text-align: center;
     background-color: white;
 }
 .pago-envio .pago span {
    margin: 15px 0px;
    color: #F8904E;
    font-weight: bold;
    font-size: 7vw;
    display: inline-block;
 }
 .pago-envio .envio {
     display: flex;
     flex-wrap: wrap;
     margin: 20px auto 0px;
     padding-bottom: 20px;
     align-items: center;
     width: 90%;
 }
 .pago-envio .envio span {
     width: 65%;
     font-size: 5vw;
     text-align: left;
    
 }
 .pago-envio .envio .truck{
     width: 35%;
     color: #00818e;
     font-size: 12vw;
 }

 /* Animate truck */
.truck{
    transition: all 0.5s;
}
 
@keyframes rotar {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg); 
	}
}

.pago-envio:hover .truck{
	animation-name: rotar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}
 /* End Animate truck */

 .newsletter {
    background-color: #F8904E;
    color:black;
    padding: 20px;
 }
 .newsletter i {
     color: white;
 }
 .newsletter h4 {
     text-align: center;
     font-size: 5vw;
     padding: 10px;
 }
 .group-checkbox {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .group-checkbox p {
     text-align: center;
     font-size: 4vw;
     display: inline-block;
     width: 100%;
     padding-bottom: 10px;
 }
 .group-checkbox input[type=checkbox] {
     transform: scale(1.4);
     padding: 10px;
 }
 .group-checkbox i {
     font-size: 5vw;
     margin-right: 5px;
 }
.input-control{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
#brPrecio {
    display: none;
}
.newsletter input[type=email] {
    border-radius: 5px;
    height: 35px;
    width: 60%;
}
.newsletter .btn {
    width: 35%;
}
/*------------------------ FIN MAIN ---------------------------*/

/*------------------------ FOOTER ---------------------------*/
footer {
    padding: 20px 10px 5px;
    background-color: #00818e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo_redes_sociales {
    text-align: center;
    margin-bottom: 20px;
}
.logo_redes_sociales img {
    width: 35%;
}
.logo_redes_sociales i {
    color: white;
    font-size: 7vw;
    margin: 5px 10px;
}
.footer-list {
    width: 50%;
    margin-bottom: 20px;
}
footer section:nth-child(4){
   margin-right: auto;
}
.footer-list h4 {
    color: white;
    font-size: 6vw;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    display: inline-block;
}
.footer-list ul {
    margin-left: 5px;
}
.footer-list a {
    font-size: 4vw;
    color: white;
}
.copyright {
    width: 100%;
    text-align: center;
    color: white;
}


/*------------------------ FIN FOOTER ---------------------------*/

@media (min-width:600px) {
    .header-top {
        padding: 10px 50px;
    }
    #header.collapsed{
        display: none;
     }
     #header{
         background-color:white;
         text-decoration: none;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         flex-wrap: wrap;
         width: 100%;
         border: 1px solid black;
         transition: height .35s;
     }
     .ofertas {
         padding: 7px;
         text-decoration: black;
         margin: 12px;
         background-color: #F8904E;
         border-radius: 7px;
         transition: all 1s;
     }
     .ofertas:hover {
         color: white;
         background-color: #00818e ;
     }
     .ofertas:hover a {
         color: white;
     }
    #logo {
        width: 13%;
        margin: 0px;
    }
    #account {
        margin-left: auto;
    }
    .fa-shopping-cart,
    .fa-user-alt,
    .fa-bars {
        font-size: 6vw;
    }
    #cart {
        margin: 0px 30px;
    }
    #cart span {
        font-size: 3vw;
    }
    main {
        margin-top: calc(11% + 70px);
    }
    hr {
    top: 2.5%;
    }
    .productos-destacados{
        justify-content: space-evenly;
    }
    .producto-individual {
        width: 45%;
    }
    .precio {
        font-size: 3.5vw;
    }
    .detalles-cantidad .mas, 
    .detalles-cantidad .menos{
        font-size: 4vw;
        width: 5vw;
        height: 5vw;
    }
    .detalles-cantidad input {
        width: 7vw;
        height: 5vw;
    }
    .btn {
        font-size: 1.8vw;
    }
    .pago-envio .pago span {
        font-size: 5vw;
    }
    .pago-envio .envio span {
        font-size: 3.5vw;
    }
    .newsletter h4 {
        font-size: 3.5vw;
    }
    footer {
        justify-content: space-around;
    }
    .logo_redes_sociales {
        width: 60%;
    }
    .footer-list {
        width: 40%;
    }
    footer section:nth-child(4),
    footer section:nth-child(3) {
        margin-left: auto;
        margin-right: 0px;
     }
    .footer-list h4 {
         font-size: 4vw;
    }
    .footer-list a {
        font-size: 3vw;
    }
    .header-bottom{
        display: none;
    }

}

@media (min-width:992px) { 
    .header-top {
        padding: 10px 150px 5px;
    }
    .header-bottom {
        background-color:white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid black;
    }
    #logo {
        width: 7%;
        margin-right: 0px;
    }
    .burger-menu {
        display: none;
    }
    #buscar {
        order: 1;
        width: 50%;
        margin: auto;
    }
    .fa-shopping-cart,
    .fa-user-alt {
        font-size: 3vw;
    }
    #cart {
        order: 2;
        margin: 0px 40px 0px 20px;
    }
    #account {
        order: 2;
        margin-left: auto;
    }
    #account ul ul {
        top:100%;
    }
    #account ul ul {
        transition: transform 0.5s;
    }
    #cart span {
        font-size: 1.3vw;
        top: -12px;
        right: -10px;
        min-width: 2vw;
    }
    .menu {
        display: block;
    }
    .menu ul {
        display: flex;
    }
    .menu ul li {
        padding: 10px;
        border-right: 1px solid black;
        transition: background-color 1.5s;
    }
    .menu ul li:hover {
        background-color: #F8904E;
        opacity: 0.9;
    }
    .header-bottom a {
        color: black;
    }
    .header-bottom a {
        font-size: 17px;
    }
    .ofertas {
        padding: 7px;
        margin: 12px;
        background-color: #F8904E;
        border-radius: 7px;
        transition: all 1s;
    }
    .ofertas:hover {
        color: white;
        background-color: #00818e ;
    }
    .ofertas:hover a {
        color: white;
    }
    main {
        margin-top: calc(7% + 60px);
    }
    hr {
        top: 35px;
    }
    .productos-destacados .titulo {
        width: 100%;
        margin: 20px auto;
    }
    .productos-destacados .titulo span{
        font-size: 25px;
        width: 100%;
    }
    .producto-individual {
        width: 23%;
        margin-bottom: 15px;
    }
    .precio {
        font-size: 1.5vw;
    }
    .detalles-cantidad .mas, 
    .detalles-cantidad .menos{
        font-size: 1.5vw;
        width: 2.5vw;
        height: 2.5vw;
    }
    .detalles-cantidad input {
        width: 3vw;
        height: 2.5vw;
    }
    .btn {
        font-size: 16px;
    }
    .btn:hover,
    .detalles-cantidad .mas:hover,
    .detalles-cantidad .menos:hover {
        cursor: pointer;
    }
    .pago-envio {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        align-items: center;
    }
    .pago-envio .pago,
    .pago-envio .envio {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .pago-envio .pago span {
        font-size: 30px;
        width: 25%;
    }
    .pago-envio .pago figure {
        width: 65%;
    }
    .pago-envio .envio span {
        font-size: 30px
    }
    .pago-envio .envio .truck {
        font-size: 90px;
    }
    .newsletter,
    .newsletter form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .newsletter h4 {
        font-size: 30px;
        width: 20%;
    }
    .newsletter form {
        width: 70%;
    }
    .group-checkbox {
        width: 40%;
    }
    .group-checkbox p {
        font-size: 20px;
    }
    .group-checkbox i {
        font-size: 40px;
    }
    #brPrecio {
        display: block;
    }
    .input-control {
        width: 60%;
    }
    footer {
        justify-content: flex-start;
        padding: 20px;
    }
    .logo_redes_sociales {
        width: 25%;
    }
    .logo_redes_sociales img {
        width: 30%;
    }
    .logo_redes_sociales i {
        font-size: 30px;
    }
    .footer-list {
        width: 25%;
    }
    footer section:nth-child(4),
    footer section:nth-child(3) {
        margin-left: 0px;
        margin-right: 0px;
     }
    .footer-list h4 {
         font-size: 27px;
    }
    .footer-list a {
        font-size: 17px;
    }
    .copyright {
        font-size: 15px;
    }
}

.welcome{
    padding: 5px;
    color: white;
}


/* CENTRAR ELEMENTOS FOOTER VERSION MOBILE
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/