<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Carrito | FURRY</title>
</head>
<body>
    <header>
        <div class="header-top">
            <figure id="logo">
                <a href="/">
                    <img src="./img/logo.png" alt="logo furry">
                </a>
            </figure>

            <div id="account">
                <ul>
                    <li><i class="fa fa-user-alt"></i>
                        <ul>
                            <li><a href="login">Iniciar sesion</a></li>
                            <li><a href="register">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="cart">
                <a href="cart">
                    <i class="fa fa-shopping-cart"></i>
                    <p>0</p>
                </a>
            </div>

            <div class="burger-menu">
                <i class="fa fa-bars"></i>
            </div>

            <form action="/" method="GET" id=buscar>
                <input placeholder="Buscar productos, marcas" type="text" name="buscar">
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="header-bottom">
            <nav class="menu">
                <ul>
                    <li><a href="#">Alimentos</a></li>
                    <li><a href="#">Juguetes</a></li>
                    <li><a href="#">Medicamentos</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Snacks</a></li>
                    <li><a href="#">Belleza e higiene</a></li>
                </ul>
            </nav>
            <div class="ofertas">
                <a href="#">OFERTAS <i class="fas fa-tags"></i></a>
            </div>
        </div>
    </header>
    <main class="contenedor">
        <h2 class="titulo">Productos en su carrito.</h2>
            <div class="carrito">
                <figure>
                    <img class="foto" src="/img/Bebedero-Azul.jpg" alt="Bebedero">
                </figure>
                <p class="detalle">Bebedero color azul para mascotas</p>
                <div class="btnPrecio">
                <p class="precioCarro">$ 3.500</p>
                <a class="quitar" href="#">Quitar articulo</a>
                </div>
            </div>
            <div class="separador"></div>
            <div class="carrito">
                <figure>
                    <img class="foto" src="/img/Kinky-Collar-Negro-Camo-Verde-Huesos-1.jpg" alt="Collar">
                </figure>
                <p class="detalle">Kinky collar negro camo verde huesos</p>
                <div class="btnPrecio">
                <p class="precioCarro">$ 1.650</p>
                <a class="quitar" href="#">Quitar articulo</a>
                </div>
            </div>
        
            <div class="separador"></div>
            <div class="final">
                <h3 class="total">Total</h3>
                <p class="pFinal">$ 5.150</p>
            </div>
            <form action="/" method="GET" class="descuento">
                <input class="barraDesc" placeholder="Código de descuento" type="text" name="descuento">
                <button class="button" type="submit">APLICAR</button>
            </form>
            

    </main>

    <footer>
        <section class="logo_redes_sociales">
            <figure>
                <img src="./img/logo.png" alt="logo furry">
            </figure>

            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </section>

        <section class="footer-list">
            <h4>Categorias</h4>
            <ul>
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Juguetes</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Snacks</a></li>
                <li><a href="#">Belleza e higiene</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Mis compras</h4>
            <ul>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
                <li><a href="#">politicas de cambios</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Contacto</h4>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </section>

        <h5 class="copyright">Copyright 2021 Furry</h5>

    </footer>
</body>
</html>