<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/detalle.css">
    <title>Productos | FURRY</title>
</head>
<body>
    <header>
        <div class="header-top">
            <figure id="logo">
                <a href="/">
                    <img src="./img/logo.png" alt="logo furry">
                </a>
            </figure>

            <div id="account">
                <ul>
                    <li><i class="fa fa-user-alt"></i>
                        <ul>
                            <li><a href="login">Iniciar sesion</a></li>
                            <li><a href="register">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="cart">
                <a href="carrito">
                    <i class="fa fa-shopping-cart"></i>
                    <p>0</p>
                </a>
            </div>

            <div class="burger-menu">
                <i class="fa fa-bars"></i>
            </div>

            <form action="/" method="GET" id=buscar>
                <input placeholder="Buscar productos, marcas" type="text" name="buscar">
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="header-bottom">
            <nav class="menu">
                <ul>
                    <li><a href="#">Alimentos</a></li>
                    <li><a href="#">Juguetes</a></li>
                    <li><a href="#">Medicamentos</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Snacks</a></li>
                    <li><a href="#">Belleza e higiene</a></li>
                </ul>
            </nav>
            <div class="ofertas">
                <a href="#">OFERTAS <i class="fas fa-tags"></i></a>
            </div>
        </div>
    </header>

    <main class="main">
        <figure class="figure">
            <img class="imgProd" src="/img/Bebedero-Azul.jpg" alt="Producto">
            <img class="miniProd" src="/img/Bebedero-Azul.jpg" alt="mini producto">
        </figure>
        <div class="detProd">
            <h2 class="detalle">Bebedero color azul para mascotas.</h2>
            <h2 class="precioProd">$ 3.500</h2>
        </div>
        <div class="agregar">
            <button class="button" type="submit">AGREGAR AL CARRITO</button>
            <div class="detalles-cantidad detalleCant">
                <button type="" class="menos">-</button>
                <input type="text" value="1">
                <button class="mas">+</button>
            </div>
        </div>
    </main>

    <footer>
        <section class="logo_redes_sociales">
            <figure>
                <img src="./img/logo.png" alt="logo furry">
            </figure>

            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </section>

        <section class="footer-list">
            <h4>Categorias</h4>
            <ul>
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Juguetes</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Snacks</a></li>
                <li><a href="#">Belleza e higiene</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Mis compras</h4>
            <ul>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
                <li><a href="#">politicas de cambios</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Contacto</h4>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </section>

        <h5 class="copyright">Copyright 2021 Furry</h5>

    </footer>
    
</body>
</html>