<!DOCTYPE html>
<html lang="en">
<head>
    <!------------ HEAD  ---------->
    <%- include  ('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalle.css">
    <title>Productos | Pets</title>
</head>
<body>
    <!--HEADER -->
    <%- include  ('partials/header.ejs') %>

    <!-- MAIN -->
    <main class="main">
        <figure class="figure">
            <img class="imgProd" src="/img/Bebedero-Azul.jpg" alt="Producto">
            <img class="miniProd" src="/img/Bebedero-Azul.jpg" alt="mini producto">
        </figure>
        <div class="detProd">
            <h2 class="detalle">Bebedero color azul para mascotas.</h2>
            <h2 class="precioProd">$ 3.500</h2>
        </div>
        <div class="agregar">
            <button class="button" type="submit">AGREGAR AL CARRITO</button>
            <div class="detalles-cantidad detalleCant">
                <button type="" class="menos">-</button>
                <input type="text" value="1">
                <button class="mas">+</button>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include  ('partials/footer.ejs') %>
</body>
</html>