<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>

    <link rel="shortcut icon" href="./img/logo1.png" type="image/png">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!------------ HEADER  ---------->
    <header>
        <div class="header-top">
            <figure id="logo">
                <a href="/">
                    <img src="./img/logo1.png" alt="logo pets">
                </a>
            </figure>

            <div id="account">
                <ul>
                    <li><i class="fa fa-user-alt"></i>
                        <ul>
                            <li><a href="login">Iniciar sesion</a></li>
                            <li><a href="register">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="cart">
                <a href="carrito">
                    <i class="fa fa-shopping-cart"></i>
                    <span>0</span>
                </a>
            </div>

            <div class="burger-menu">
                <i class="fa fa-bars"></i>
            </div>

            <form action="/" method="GET" id=buscar>
                <input placeholder="Buscar productos, marcas" type="text" name="buscar">
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="header-bottom">
            <nav class="menu">
                <ul>
                    <li><a href="#">Alimentos</a></li>
                    <li><a href="#">Juguetes</a></li>
                    <li><a href="#">Medicamentos</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Snacks</a></li>
                    <li><a href="#">Belleza e higiene</a></li>
                </ul>
            </nav>
            <div class="ofertas">
                <a href="#">OFERTAS <i class="fas fa-tags"></i></a>
            </div>
        </div>
    </header>

    <!------------ FIN HEADER  ---------->

    <!------------ MAIN  ---------->
    <main>
        <section id="banner">
            <figure>
                <img src="./img/Tarjetas-Regalo-Tienda.jpeg" alt="Banner de la tienda">
            </figure>
        </section>

        <section class="productos-destacados">
            <div class="titulo">
                <span>PRODUCTOS DESTACADOS</span>
            </div>
            <hr>

            <article class="producto-individual">
                <figure>
                    <a href="#">
                        <img src="./img/Nutrecan-Adulto-Raza-Mediana-Grande.jpg"
                            alt="Nutrecan Adulto Raza Mediana y Grande">
                    </a>
                </figure>

                <div class="detalles-producto">
                    <a href="#"> <strong class="descripcion">Alimento Para Perro - Nutrecan Adulto Raza
                            Med/Grande</strong></a>
                    <p class="precio">$ 6.770</p>

                    <div class="detalles-cantidad">
                        <button type="" class="menos">-</button>
                        <input type="number" value="1" min="1" max="15">
                        <button class="mas">+</button>

                        <button class="btn">comprar</button>
                        <span class="errorInput">Ingrese un valor entre 1 y 15</span>
                    </div>
                </div>
            </article>

            <article class="producto-individual">
                <figure>
                    <a href="#">
                        <img src="./img/Antipulgas-Advantage-gatos.jpg" alt="Antipulgas Advantage para gatos">
                    </a>
                </figure>

                <div class="detalles-producto">
                    <a href="#"><strong class="descripcion">Antipulgas Advantage gatos hasta 4 kg x0.4 ml para
                            gato</strong></a>
                    <p class="precio">$ 2.500</p>

                    <div class="detalles-cantidad">
                        <button type="" class="menos">-</button>
                        <input type="number" value="1" min="1" max="15">
                        <button class="mas">+</button>

                        <button class="btn">comprar</button>
                        <span class="errorInput">Ingrese un valor entre 1 y 15</span>
                    </div>
                </div>
            </article>

            <article class="producto-individual">
                <figure>
                    <a href="detalle">
                        <img src="./img/Bebedero-Azul.jpg" alt="Bebedero azul">
                    </a>
                </figure>

                <div class="detalles-producto">
                    <a href="detalle"><strong class="descripcion">Bebedero color azul para mascotas</strong></a>
                    <p class="precio">$ 3.500</p>

                    <div class="detalles-cantidad">
                        <button type="" class="menos">-</button>
                        <input type="number" value="1" min="1" max="15">
                        <button class="mas">+</button>

                        <button class="btn">comprar</button>
                        <span class="errorInput">Ingrese un valor entre 1 y 15</span>
                    </div>
                </div>
            </article>

            <article class="producto-individual">
                <figure>
                    <a href="#">
                        <img src="./img/Kinky-Collar-Negro-Camo-Verde-Huesos-1.jpg"
                            alt="Kinky Collar Negro Camo Verde Huesos">
                    </a>
                </figure>

                <div class="detalles-producto">
                    <a href="#"><strong class="descripcion">Kinky Collar Negro Camo Verde Huesos</strong></a>
                    <p class="precio">$ 1.650</p>

                    <div class="detalles-cantidad">
                        <button class="menos">-</button>
                        <input type="number" value="1" min="1" max="15">
                        <button class="mas">+</button>

                        <button class="btn">comprar</button>
                        <span class="errorInput">Ingrese un valor entre 1 y 15</span>
                    </div>
                </div>
            </article>

        </section>

        <section class="pago-envio">
            <article class="pago">
                <span>MÉTODOS DE PAGO</span>
                <figure>
                    <img src="./img/Medios-Pago1.jpg" alt="medios de pago aceptados">
                </figure>
            </article>

            <article class="envio">
                <i class="fas fa-truck truck"></i>
                <span>ENVIOS GRATIS POR COMPRAS SUPERIORES A <br id="brPrecio"> $ 20.000</span>
            </article>

        </section>

        <section class="newsletter">
            <h4>¡Suscríbete al Newsletter y obtén 10% de descuento en tu primera compra!</h4>

            <form action="#" method="GET">

                <div class="group-checkbox">
                    <p>¿Qué mascota tienes?</p>
                    <div>
                        <label for="perro"><i class="fas fa-dog"></i></label>
                        <input type="checkbox" name="intereses" id="perro" value="perro">
                    </div>
                    <div>
                        <label for="gato"><i class="fas fa-cat"></i></label>
                        <input type="checkbox" name="intereses" id="gato" value="gato">
                    </div>
                    <div>
                        <label for="aves"><i class="fas fa-duck"></i></label>
                        <input type="checkbox" name="intereses" id="aves" value="aves">
                    </div>
                    <div>
                        <label for="roedores"><i class="fas fa-rabbit"></i></label>
                        <input type="checkbox" name="intereses" id="roedores" value="roedores">
                    </div>
                </div>
                <div class="input-control">
                    <input type="email" name="correo" placeholder="Ingresa tu Email" required>
                    <button class="btn" type="submit">ENVIAR</button>
                </div>

            </form>
        </section>
    </main>
    <!------------ FIN MAIN ---------->

    <!------------ FOOTER ---------->
    <footer>
        <section class="logo_redes_sociales">
            <figure>
                <img src="./img/logo.png" alt="logo furry">
            </figure>

            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </section>

        <section class="footer-list">
            <h4>Categorias</h4>
            <ul>
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Juguetes</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Snacks</a></li>
                <li><a href="#">Belleza e higiene</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Mis compras</h4>
            <ul>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
                <li><a href="#">politicas de cambios</a></li>
            </ul>
        </section>

        <section class="footer-list">
            <h4>Contacto</h4>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </section>

        <h5 class="copyright">Copyright 2021 Pets</h5>

    </footer>
    <!------------ FIN FOOTER ---------->

</body>

</html>