<!DOCTYPE html>
<html lang="en">

<head>
    <%- include  ('partials/head.ejs') %>
    <link rel="stylesheet" href="./css/register.css"> 
</head>

<body>
    <!------------ HEADER  ---------->
    <%- include  ('partials/header.ejs') %>

    <!------------ MAIN FORM REGISTER---------->
    <main>
        <section class="form__register">
           
            <div class="register__box">
                <h2>!Registraté aca!</h2>
                
                <form action="/" method="POST" id="registrar">
                    <div class="user-box">
                        <input type="text" name="" required="">
                        <label>Nombre de usuario</label>
                    </div>
                    <div class="user-box">
                        <input type="email" name="" required="">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Contraseña</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Repetir contraseña</label>
                    </div>

                    <a href="http://" class="register__box__sesion">¿Ya estás registrado?
                    <br><br>Inicia sesión.  </a>

                    <label for="" class="tyc">Aceptó los T&C <input type="checkbox" name="" id="" required></label>

                    <button type="submit" form="registrar" value="Submit" class="register__box__a">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Registrar
                    </button>
                    <button type="reset" form="registrar" value="Reset" class="register__box__a">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Borrar
                    </button>
                    <a href="/" class="register__box__return">
                    
                        Volver atras <i class="fal fa-undo"> </i>
                    </a>
                </form>
            </div>
        </section>
    </main>

    <!------------ FOOTER ---------->
    <%- include  ('partials/footer.ejs') %>
</body>

</html>