<footer>
    <section class="logo_redes_sociales">
        <figure>
            <img src="/img/logo.png" alt="logo furry">
        </figure>

        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </section>

    <section class="footer-list">
        <h4>Categorias</h4>
        <ul>
            <li><a href="#">Alimentos</a></li>
            <li><a href="#">Juguetes</a></li>
            <li><a href="#">Medicamentos</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Snacks</a></li>
            <li><a href="#">Belleza e higiene</a></li>
        </ul>
    </section>

    <section class="footer-list">
        <h4>Mis compras</h4>
        <ul>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
            <li><a href="#">politicas de cambios</a></li>
        </ul>
    </section>

    <section class="footer-list">
        <h4>Contacto</h4>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Locales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </section>

    <h6 class="copyright">Copyright 2021 Pets</h6>

</footer>