<header>
    <div class="header-top">
        <figure id="logo">
            <a href="/">
                <img src="/img/logo.png" alt="logo furry">
            </a>
        </figure>
        <% if (locals.isLogged) { %>
            <div><p class='welcome'><%= 'Hola '+ locals.userLogged.first_name %></p></div>
            <div id="account">
                
                <ul>
                    <li><i class="fa fa-user-alt"></i>
                        <ul>
                            <li><a href="/usuario/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        <% } else {%>
            <div id="account">
                <ul>
                    <li><i class="fa fa-user-alt"></i>
                        <ul>
                            <li><a href="/usuario/login">Iniciar sesion</a></li>
                            <li><a href="/usuario/register">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        <% } %>
        <div id="cart">
            <a href="/carrito">
                <i class="fa fa-shopping-cart"></i>
                <span>0</span>
            </a>
        </div>

        <div class="burger-menu">
            <i class="fa fa-bars"></i>
        </div>

        <form action="/" method="GET" id=buscar>
            <input placeholder="Buscar productos, marcas" type="text" name="buscar">
            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <div class="header-bottom">
        <nav class="menu">
            <ul>
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Juguetes</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Snacks</a></li>
                <li><a href="#">Belleza e higiene</a></li>
            </ul>
        </nav>
        <div class="ofertas">
            <a href="#">OFERTAS <i class="fas fa-tags"></i></a>
        </div>
    </div>
</header>