<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/creacionProducto.css">
<body>
    <!----------HEADER---------->
    <%- include('../partials/header.ejs') %>
    
    <!----------MAIN---------->
    <main class="main">
        <div class="contenedor">
            <section class="nuevoProducto">
                <h1 class="titulo"> Ingrese un Nuevo Producto</h1>
            </section>
            <section>
                <form class="formularioProducto" action="/producto/crear" method="POST" enctype="multipart/form-data">
                  <div class="campo">
                        <strong>
                            <label class="subtitulo" for="nombre">Nombre del producto</label>
                        </strong>
                        <input type="text" name="nombre" class="barra">

                    </div>
                    <div class="campo">
                        <strong>
                            <label class="subtitulo" for="descripcion">Descripción del Producto</label>
                        </strong>
                        <textarea name="descripcion" class="barra" required> </textarea>
                        
                    </div>
                    
                
                    <div class="campo">
                        <strong>
                            <label class="subtitulo" for="categoria">Categoría</label>
                        </strong>
                        <select name="categoria">
                            <option name="alimento">Alimento</option>
                            <option name="bellezaHigiene">Belleza e Higiene</option>
                            <option name="accesorios">Accesorios</option>
                            <option name="juguetes">Juguetes</option>
                            <option name="medicamentos">Medicamentos</option>
                            <option name="snacks">Snacks</option>
                        </select>    

                    </div>
                                
                    <div class="campo">
                        <strong>
                            <label class="subtitulo" for="precio">Precio</label>
                        </strong>
                        <input type="number" name="precio" class="barra">
                    </div>
                    <div class="campo">
                        <strong>
                            <label class="subtitulo" for="stock">Stock</label>
                        </strong>
                    </div>
                        <div class="detalles-cantidad detalleCant">
                            <button type="" class="btnMenos">-</button><input class="value" type="number" value="1" name="stock">
                            
                            <button class="btnMas">+</button>
                        </div>
                    
                        <div class="btn_imagen" style="margin-top: 5%;">
                            <label for="imagen" class="label_imagen">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <span>Cargar imagen del producto</span>
                            </label>
                            <input type="file" name="imagen" id="imagen" class="hidden" accept="image/*">
                            <p id="fileName">No ha cargado ningun archivo</p>  
                        </div>
                    <div class="crearProducto">
                        <input type="submit" value="Ingresar Producto" class="button">
                    </div>


                </form>
                
            </section>
        </div>
    </main>

    
    <!----------FOOTER---------->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>